# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build files
dist/
build/
.vite/
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor & system files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test
